
/* CSS Documento */

body{
    background-color: rgb(178, 146, 207);
 } 

 #cabecera{
     background-color:rgb(78, 218, 73);

     padding:15px 30px;
  }

 .navegador{
    background-color:rgb(220, 223, 57);
    margin-top: 15px;
    padding:15px 30px;
 }
 li{
    display:inline;
    margin-top: 15px;
    padding:15px 30px;
 }
 .seccion{
    display:block;
    background-color:rgb(89, 230, 207);
    margin-top: 15px;
    padding:15px 30px;
   }

.lateral{
    background-color:rgb(139, 169, 211);
    margin-top: 15px;
    padding:15px 30px;
  }
.pie{
    background-color:rgb(235, 141, 141);
    margin-top: 15px;
    padding:15px 30px;
}