
/* CSS Documento */

body{
    background-color: rgb(178, 146, 207);
 } 

 h1{
     background-color:rgb(78, 218, 73);
     padding:15px 30px;
  }
  h3{
    background-color:rgb(179, 231, 177);
    padding:15px 30px; 
  }

 .fotos{
    background-color:rgb(220, 223, 57);
    margin-top: 15px;
    padding:15px 30px;
 }





